@layer base, component, utilities;

/* Base Layer */
@layer base {
    a {
        color: darkblue;
    }
}

/* Component Layer */
@layer component {
    .albums {
        .album {
            .album__details {
                a {
                    background-color: yellow;
                    padding: .25rem .5rem;
                    border-radius: .125rem;
                    width: 100%;
                    color: black;
                    font-size: 2rem;
                }
            }
        }
    }
}

@layer utilities {
    .albums {
        a {
            background-color: orangered;
            padding: .25rem .5rem;
            border-radius: .125rem;
            width: 100%;
            color: #f9f9f9;
            font-size: 2rem;
        }
    }
}